/* decroStyles.css - an external style sheet
     for use with decoration-Exam-ans.html
   */
 h1 {text-align:center}
 p.through {text-decoration: line-through; text-align:right }
 p.over {text-decoration: overline; text-align:left }
 p.under {text-decoration: underline; text-align:justify}