<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
</head>
<body>

    <%- include('header'); %>

    <div id="content">
        <!-- Main content of the page goes here -->
        
        <p>Hello ejs, this is about page!</p>
    </div>

    <!--% include footer %-->

</body>
</html>
