<footer class="row">
        <div class="col-12 bg-dark text-white text-center p-3">
            <p>Adopt A-Cat/Dog © 2024. All Rights Reserved.</p>
            <a href="privacy.html" class="text-white">Privacy/Disclaimer Statement</a>
        </div>
    </footer>