<header class="row">
        <div class="col-12 bg-primary text-white text-center p-3">
            <h1>Adopt A-Cat/Dog for you!</h1>
            <img src="catdog.webp" width="5%" alt="Logo" class="img-fluid">
        </div>
</header>